pytest~=6.2.4
py==1.11.0
plotly~=5.5.0
colorama~=0.4.4
pip==21.3.1
attrs==21.4.0
pytz~=2021.1
toml~=0.10.2
numpy==1.22.1
setuptools==60.5.0
scipy~=1.7.0
joblib==1.1.0
pandas~=1.4.0
python-dateutil~=2.8.2
pluggy==1.0.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
scikit-learn==1.0.2
threadpoolctl==3.0.0
six~=1.16.0
pyparsing==3.0.6
requests~=2.27.1
PySide2==5.15.2.1
jinja2~=3.0.3
matplotlib~=3.5.1
MarkupSafe~=2.0.1
tenacity~=8.0.1
certifi~=2021.10.8
shiboken2~=5.15.2.1
Pillow~=9.0.0
urllib3~=1.26.8
idna~=3.3
packaging~=21.3
appdirs~=1.4.4