<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

table.example {
  border: thin solid lightgray;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

table.example th,
table.example td {
  border: thin solid lightgray;
  min-width: 75px;
  text-align: center;
  padding: 5px;
}

table.example .red-circle {
  border: thin solid red;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
</style>
</head>
<body>
<table class="example collapse">
  <thead>
  <tr>
      <th rowspan="2">Hero</th>
      <th rowspan="2" style="text-align: left;">Move</th>
      <th colspan="3">Score</th>
      <th colspan="3">Running Totals</th>
  </tr>
    <tr>
        <th style="text-align: right;">G/Troop</th>
        <th style="text-align: right;">G/Level</th>
        <th style="text-align: right;">Meta</th>
        <th style="text-align: right;">Gold</th>
        <th style="text-align: right;">Troops</th>
        <th style="text-align: right;">LevelUps</th>
    </tr>
  </thead>
  <tbody>
     {% for row in rows %}
     <tr>
         <td> {{row.no}}.  {{row.Name}} </td>
         <td style="text-align: left;"> From: Level {{'%-2d' % row['Cur Level'] }} Reborn {{'%-2d' % row['Cur Reborn']}} <br>
              &nbsp;&nbsp;To: Level {{'%-2d' % row.Level }} Reborn {{'%-2d' % row.Reborn}} <br>
              {{'%-2d' % row.LevelUps}} level{% if row.LevelUps != 1 %}s{%endif%} for {{row.Gold}} gold and {{row['Cum Souls']}} souls.
              Gain {{row['Troop Gain']}} troops.
         </td>
         <td style="text-align: right;">
             {{row['GPT']}}
         </td>
         <td style="text-align: right;">
             {{row['GPL']}}
         </td>
         <td style="text-align: right;">
             {{row['Score']}}
         </td>
         <td style="text-align: right;">
             {{row['Total Gold']}}
         </td>
         <td style="text-align: right;">
             {{row['Total Troop Gain']}}
         </td>
         <td style="text-align: right;">
             {{row['Total LevelUps']}}
         </td>

     </tr>
     {% endfor %}
   </tr>
  </tbody>
</table>
</body>
</html>